name: CI Build Scan and Push to ECR

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'
  workflow_dispatch:

env:
  ECR_REGION: us-west-2
  ECR_REPOSITORY_NAME: liorm-cloudride

jobs:
  build_and_scan:
    runs-on: ubuntu-latest
    outputs:
      image_uri: ${{ steps.image_info.outputs.full_image_uri }}:${{ github.run_number }}
    steps:
      - uses: actions/checkout@v4
      - name: Define ECR Registry and Full URI
        id: image_info
        run: |
          ECR_REGISTRY_HOST=${{ secrets.ACCOUNT_ID }}.dkr.ecr.${{ env.ECR_REGION }}.amazonaws.com
          FULL_IMAGE_URI=$ECR_REGISTRY_HOST/${{ env.ECR_REPOSITORY_NAME }}
          echo "full_image_uri=$FULL_IMAGE_URI" >> $GITHUB_OUTPUT
      - name: Build Docker Image
        id: build
        run: docker build -t ${{ steps.image_info.outputs.full_image_uri }}:${{ github.run_number }} ./app
      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.image_info.outputs.full_image_uri }}:${{ github.run_number }}
          format: sarif
          output: trivy-results.sarif
          ignore-unfixed: true
          exit-code: 0
      - name: Save Trivy SARIF results for next job
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sarif
          path: trivy-results.sarif
          
  publish_scan_results:
    runs-on: ubuntu-latest
    needs: build_and_scan
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Download Trivy SARIF results
        uses: actions/download-artifact@v4
        with:
          name: trivy-sarif
      - name: Upload Trivy results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif

  push_to_ecr:
    runs-on: ubuntu-latest
    needs: build_and_scan
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.ECR_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Define ECR Registry and Full URI
        id: image_info
        run: |
          ECR_REGISTRY_HOST=${{ secrets.ACCOUNT_ID }}.dkr.ecr.${{ env.ECR_REGION }}.amazonaws.com
          FULL_IMAGE_URI=$ECR_REGISTRY_HOST/${{ env.ECR_REPOSITORY_NAME }}
          echo "full_image_uri=$FULL_IMAGE_URI" >> $GITHUB_OUTPUT
      - name: Build Docker Image for Push
        run: docker build -t ${{ steps.image_info.outputs.full_image_uri }}:push-temp ./app
      - name: Tag Images
        run: |
          docker tag ${{ steps.image_info.outputs.full_image_uri }}:push-temp ${{ steps.image_info.outputs.full_image_uri }}:${{ github.run_number }}
          docker tag ${{ steps.image_info.outputs.full_image_uri }}:push-temp ${{ steps.image_info.outputs.full_image_uri }}:latest
      - name: Push Images to ECR
        run: |
          docker push ${{ steps.image_info.outputs.full_image_uri }}:${{ github.run_number }}
          docker push ${{ steps.image_info.outputs.full_image_uri }}:latest
